/* .jumbotron-fluid {
  background: #fff;
} */
.album-item {
  cursor: pointer;
  background-repeat: no-repeat !important;
  background-size: cover cover !important;
  background-position: center !important;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
input {
  margin-top: 0.7rem;
  height: 40px;
  width: 250px;
  border-radius: 50px;
  border-style: 0.5px solid grey;
  padding-left: 0.5rem;
}

.empty {
  font-size: 25px;
  margin-top: 10px;
  color: rgb(255, 0, 0);
}
